###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=f4114d8cc3eb5ca97aa78170e99df5fa
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@symfony-api-boilerplate-db:3306/app_db?serverVersion=8.0"
###< doctrine/doctrine-bundle ###


XDEBUG_CLIENT_HOST=172.17.0.1
XDEBUG_CLIENT_PORT=9003
PHP_IDE_CONFIG=serverName=symfony-api-boilerplate

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=b039b83f8c7dd8aa893ff83a83f814f5
JWT_TOKEN_TTL=5184000 # 60 days
###< lexik/jwt-authentication-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='*'
###< nelmio/cors-bundle ###
